body{font-size:13px;font-family:arial,helvetica,sans-serif;color:#444444;background:#ebebeb repeat-x;min-height:100%;width:100%;position:absolute;}
a{color:#015dc6;cursor:pointer;}
ul{list-style:none;padding:0;}ul.bulleted-list{list-style:disc;padding-left:5px;}
ul.commom-list{padding-left:40px;}ul.commom-list li{list-style:disc outside none;margin-bottom:10px;}ul.commom-list li ul{padding-left:40px;}ul.commom-list li ul li{list-style:circle outside none;margin-bottom:5px;}ul.commom-list li ul li ul li{list-style:square outside none;}
ul.commom-list li:last-child{margin-bottom:0;}
legend{font-size:1.1em;font-weight:700;padding-bottom:5px;}
label{font-size:0.938em;}
textarea{resize:none;}
.disabled{-ms-filter:DXImageTransform.Microsoft.Alpha(opacity=60);filter:alpha(opacity = 60);-moz-opacity:0.6;opacity:0.6;}
.radio-inline,.checkbox-inline{padding-top:0;padding-bottom:0;}.radio-inline .errorForm,.checkbox-inline .errorForm{margin-left:-20px;}
.word-break{-ms-word-break:keep-all;word-break:keep-all;word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;-ms-hyphens:auto;hyphens:auto;word-wrap:break-word;-ms-word-wrap:break-word;}
.form-inline .radio input[type="radio"],.form-inline .checkbox input[type="checkbox"]{position:relative;top:3px;}
.modal-body{word-wrap:break-word;}
.outCheck .radio,.outCheck .checkbox{padding-left:5px;}
.choosingControls{font-size:3em;font-weight:700;text-align:center;padding-top:40px;}.choosingControls li{line-height:1em;}
.choosingControls button{color:#666666;background-color:#ffffff;border:1px solid transparent;line-height:.8em;}
.choosingControls a{color:#666666;}.choosingControls a:hover{text-decoration:none;}
.clear-block{display:block;clear:both;}
.has-error .mce-panel,.has-error .easy-upload,.has-error.rd-grid,.has-error .token-input-list{border-color:#b94a48;}
.has-error.rd-grid{color:#b94a48;}
.master-group{margin-bottom:15px;}.master-group.has-error label{color:#444444;}.master-group.has-error label.control-label{color:#b94a48;}
.master-group.has-error p,.master-group.has-error span{color:#b94a48;}
.master-group .form-group{margin-bottom:0;}
.dt-label.has-error{color:#b94a48;}
#password-strength{border:1px solid #dddddd;font-size:9px;margin-top:0;overflow:hidden;text-align:center;min-height:13px;}#password-strength #passwordStrength{display:block;font-weight:700;color:#ffffff;padding:1px;}#password-strength #passwordStrength.weak{background-color:#ff0000;}
#password-strength #passwordStrength.medium{background-color:#ffa500;}
#password-strength #passwordStrength.strong{background-color:#006400;}
.password-strength-label{margin:22px 0 0;}
.btn{box-shadow:none;font-weight:normal;text-shadow:none;}
.btn-sm{font-weight:700;}
.btn-default{color:#1265b3;background-color:#ffffff;background-image:-moz-linear-gradient(top, #d6e2ee 0%, #eef6f9 100%);background-image:-webkit-linear-gradient(top, #d6e2ee 0%, #eef6f9 100%);background-image:-o-linear-gradient(top, #d6e2ee 0%, #eef6f9 100%);background-image:-ms-linear-gradient(top, #d6e2ee 0%, #eef6f9 100%);background-image:linear-gradient(to top, #d6e2ee 0%, #eef6f9 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eef6f9', endColorstr='#d6e2ee', GradientType=0);border-color:#c2d4e2;}.btn-default:hover,.btn-default:focus,.btn-default .active{color:#2c88cb;background-color:#ffffff;background-image:-moz-linear-gradient(top, #eef6f9 0%, #d6e2ee 100%);background-image:-webkit-linear-gradient(top, #eef6f9 0%, #d6e2ee 100%);background-image:-o-linear-gradient(top, #eef6f9 0%, #d6e2ee 100%);background-image:-ms-linear-gradient(top, #eef6f9 0%, #d6e2ee 100%);background-image:linear-gradient(to top, #eef6f9 0%, #d6e2ee 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6e2ee', endColorstr='#eef6f9', GradientType=0);border-color:#c2d4e2;}
.btn-primary{background-color:#1265b3;background-image:-moz-linear-gradient(top, #1265b3 0%, #2c88cb 100%);background-image:-webkit-linear-gradient(top, #1265b3 0%, #2c88cb 100%);background-image:-o-linear-gradient(top, #1265b3 0%, #2c88cb 100%);background-image:-ms-linear-gradient(top, #1265b3 0%, #2c88cb 100%);background-image:linear-gradient(to top, #1265b3 0%, #2c88cb 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c88cb', endColorstr='#1265b3', GradientType=0);border-color:#1265b3;}.btn-primary:hover,.btn-primary:focus{background-color:#1265b3;background-image:-moz-linear-gradient(top, #2c88cb 0%, #1265b3 100%);background-image:-webkit-linear-gradient(top, #2c88cb 0%, #1265b3 100%);background-image:-o-linear-gradient(top, #2c88cb 0%, #1265b3 100%);background-image:-ms-linear-gradient(top, #2c88cb 0%, #1265b3 100%);background-image:linear-gradient(to top, #2c88cb 0%, #1265b3 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1265b3', endColorstr='#2c88cb', GradientType=0);-webkit-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.2);-moz-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.2);box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.2);}
.hidden-calendar .ui-datepicker-calendar,.hidden-calendar .ui-datepicker-prev,.hidden-calendar .ui-datepicker-next{display:none;}
.hidden-calendar.hidden-month .ui-datepicker-month{display:none;}
.hidden-calendar .ui-datepicker-current{display:none;}
.chart-rounded-container .highcharts-container{border:1px solid #E6E6E6;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;-moz-border-radius:10px 4px 4px 4px;-webkit-border-radius:10px 4px 4px 4px;border-radius:10px 4px 4px 4px;height:400px;}
.chart-loading{margin:0 0 10px;padding:0 0 15px;background:url('../img/ajax-loader.png') no-repeat scroll center center #ffffff;display:block;height:400px;width:100%;}
.page-header{display:block;margin-top:20px;}.page-header h4{color:#6c8192;margin:0;}
.loading{display:block;background:url("../img/loader.gif") no-repeat center center;}
.loader{background:url("../img/loader.gif") no-repeat center 20px rgba(255, 255, 255, 0.7);width:100%;height:100%;position:absolute;z-index:99;display:none;top:0;left:0;}
.hide{display:none !important;}
.tip{font-size:0.95em;font-weight:normal;color:#bbbbbb;}
.alert-default{border-color:#dddddd;}
.alert-painel{color:#666666;word-wrap:break-word;background-color:#f7f7f7;border-color:#f1f1f1;padding-left:60px;padding-right:30px;margin-bottom:10px;position:relative;}
.alert-painel:after{font-family:'EntypoRegular';font-size:4.5em;content:"";width:28px;height:28px;line-height:0;position:absolute;top:10px;left:15px;z-index:1;text-align:center;background-image:url('../img/home-sprite.png');background-repeat:no-repeat;}
.form-messages .alert-painel:after{top:7px;}
.warning:after{background-position:0 bottom;}
.info:after{background-position:-28px bottom;}
.error:after{content:'\2716';color:#b94a48;background-position:-9999px -9999px;}
.success:after{content:'\2713';color:#468847;background-position:-9999px -9999px;}
span.warning:after,strong.warning:after,td.warning:after,dd.warning:after,span.info:after,strong.info:after,td.info:after,dd.info:after,span.error:after,strong.error:after,td.error:after,dd.error:after,span.success:after,strong.success:after,td.success:after,dd.success:after{content:'';}
.alert-painel p:last-child{margin-bottom:0;}
.minifiedText{height:40px;overflow:hidden;display:block;}
.descriptionContent{text-align:justify;}.descriptionContent p{margin-bottom:4px;}
.readMore{position:absolute;top:10px;right:10px;}
.txt-error{color:#b94a48;}
.txt-success{color:#468847;}
.txt-warning{color:#c09853;}
.form-group ul.token-input-list{padding:0;}
.form-group ul li.token-input-token{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;-moz-border-radius:3px 4px 4px 4px;-webkit-border-radius:3px 4px 4px 4px;border-radius:3px 4px 4px 4px;background-color:#dddddd;}
header{margin-bottom:25px;font-size:12px;-webkit-box-shadow:0px 1px 2px #bbbbbb;-moz-box-shadow:0px 1px 2px #bbbbbb;box-shadow:0px 1px 2px #bbbbbb;}header .pc-user-controls{background-color:#021732;padding:15px 0;}
header .pc-logos{padding:23px 0;background-color:#ffffff;background-image:-moz-linear-gradient(bottom, #fffcff 40%, #d9d9d9 100%);background-image:-webkit-linear-gradient(bottom, #fffcff 40%, #d9d9d9 100%);background-image:-o-linear-gradient(bottom, #fffcff 40%, #d9d9d9 100%);background-image:-ms-linear-gradient(bottom, #fffcff 40%, #d9d9d9 100%);background-image:linear-gradient(to bottom, #fffcff 40%, #d9d9d9 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9d9d9', endColorstr='#fffcff', GradientType=0);}
#customer-actions>a,#user-actions>a{color:#FAFFFF;padding:0;}#customer-actions>a:hover,#user-actions>a:hover,#customer-actions>a:focus,#user-actions>a:focus{background-color:#021732;}
#customer-actions>span,#user-actions>span{color:#FAFFFF;padding:0;}
#customer-actions strong,#user-actions strong{color:#3287C0;}
#customer-actions .content-caret,#user-actions .content-caret{padding-left:5px;padding-right:5px;display:block;}#customer-actions .content-caret .caret,#user-actions .content-caret .caret{border-top-color:#FAFFFF;border-bottom-color:#FAFFFF;}
#customer-actions.open>a:hover,#user-actions.open>a:hover,#customer-actions.open>a:focus,#user-actions.open>a:focus{background-color:#021732;}
#customer-actions.open .content-caret,#user-actions.open .content-caret{background-color:#ffffff;}#customer-actions.open .content-caret .caret,#user-actions.open .content-caret .caret{border-top-color:#021732;border-bottom-color:#021732;}
#customer-actions.open .dropdown-menu,#user-actions.open .dropdown-menu{top:100%;border:none;}#customer-actions.open .dropdown-menu a,#user-actions.open .dropdown-menu a{color:#3981cb;}
#customer-actions .content-caret{margin-right:5px;}
#user-actions .content-caret{margin-left:5px;}
.mainSection{min-height:100%;display:block;background-color:#ffffff;-webkit-box-shadow:0 1px 2px #bbbbbb;-moz-box-shadow:0 1px 2px #bbbbbb;box-shadow:0 1px 2px #bbbbbb;position:relative;margin-bottom:110px;}
.mainSidebar{background-color:#f5f6fa;border-right:1px solid #e6e6e6;padding:0;position:relative;z-index:10;}
.outSidebar{content:"";width:25%;height:100%;background:#f5f6fa;border-right:1px solid #e6e6e6;position:absolute;top:0;z-index:9;}.outSidebar+div{padding-bottom:40px;}
.nav-header{border-bottom:1px solid #e6e6e6;}.nav-header .tree-toggler{color:#666666;font-weight:700;}
.mainSidebar .nav>li>a:hover,.mainSidebar .nav>li>a:focus{background-color:#eaedf2;}
.nav .branch{border-left-width:3px;border-left-style:solid;}.nav .branch>a{font-size:15px;padding:15px 15px 15px 55px;}.nav .branch>a+ul{border-top:1px solid #e6e6e6;}
.nav .branch .entypo{font-size:2.4em;width:42px;height:100%;line-height:1em;border-right-width:1px;border-right-style:solid;text-align:center;position:absolute;top:0;left:0;}
.nav .branch i.entypo{color:#ffffff;}
.nav .branch .entypo-home{background-color:#4eb3df;border-color:#399eca;}
.nav .branch .entypo-tools{background-color:#915bbb;border-color:#7348a2;}
.nav .branch .entypo-chat{background-color:#01b5b6;border-color:#03989e;}
.nav .branch .entypo-credit-card{background-color:#82b319;border-color:#72980f;}
.nav .branch .entypo-briefcase{background-color:#f77831;border-color:#e4611b;}
.nav .branch .entypo-cog{background-color:#f5bc2f;border-color:#e4a711;}
.nav .branch .entypo-chevron-up,.nav .branch .entypo-chevron-down{font-size:2em;width:12px;height:12px;line-height:12px;border:0;text-align:center;position:absolute;top:33%;right:10px;left:auto;}
.nav .item-resume{border-left-color:#4eb3df;}.nav .item-resume a{color:#666666;font-weight:700;}
.nav .item-solutions{border-left-color:#915bbb;}.nav .item-solutions .active{color:#ffffff;background-color:#915bbb;}.nav .item-solutions .active:hover,.nav .item-solutions .active:focus{color:#ffffff;background-color:#915bbb;}
.nav .item-chat{border-left-color:#01b5b6;}.nav .item-chat .active{color:#ffffff;background-color:#01b5b6;}.nav .item-chat .active:hover,.nav .item-chat .active:focus{color:#ffffff;background-color:#01b5b6;}
.nav .item-financial{border-left-color:#82b319;}.nav .item-financial .active{color:#ffffff;background-color:#82b319;}.nav .item-financial .active:hover,.nav .item-financial .active:focus{color:#ffffff;background-color:#82b319;}
.nav .item-document{border-left-color:#f77831;}.nav .item-document .active{color:#ffffff;background-color:#f77831;}.nav .item-document .active:hover,.nav .item-document .active:focus{color:#ffffff;background-color:#f77831;}
.nav .item-config{border-left-color:#f5bc2f;}.nav .item-config .active{color:#ffffff;background-color:#f5bc2f;}.nav .item-config .active:hover,.nav .item-config .active:focus{color:#ffffff;background-color:#f5bc2f;}
.nav .tree .tree a{padding:8px 15px 8px 40px;}
.nav .tree .nav-header:last-child{border-bottom:0;}
.logged .nav>.item-resume>a,.logged .nav>.item-resume>a:hover,.logged .nav>.item-resume>a:focus{color:#ffffff;background-color:#4eb3df;}
.inner-header{font-weight:700;color:#999999;margin:5px 0 5px 25px;}
footer{height:75px;width:100%;background-color:#021732;padding-top:20px;text-align:center;text-transform:uppercase;font-size:11px;font-weight:bold;color:#D8D1D8;position:absolute;bottom:0;}footer .copyright{display:block;}
.modal-extend{width:750px;}
@media screen\0{.nav .branch i.entypo{line-height:36px;}}label .help-block{font-weight:500;}
.section{clear:both;float:left;}
.rd-grid{border:1px solid #dddddd;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;-moz-border-radius:4px 4px 4px 4px;-webkit-border-radius:4px 4px 4px 4px;border-radius:4px 4px 4px 4px;margin-bottom:20px;-webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.08);-moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.08);box-shadow:1px 1px 1px rgba(0, 0, 0, 0.08);position:relative;background-color:#ffffff;}.rd-grid span.entypo{font-size:3.2em;line-height:12px;}
.rd-grid .table{margin:0;}
.rd-grid .table-bordered{border:0;margin-bottom:0;}.rd-grid .table-bordered td,.rd-grid .table-bordered th{border-bottom:0;border-left:0;}.rd-grid .table-bordered td:last-child,.rd-grid .table-bordered th:last-child{border-right:0;}
.rd-grid .pager{margin-top:20px;}
.rd-grid a.table-orderer{color:#333333;display:block;}
.rd-grid .alert-painel{margin-bottom:0;}
.table-striped>tbody>tr:nth-child(2n+1)>td,.table-striped>tbody>tr:nth-child(2n+1)>th{background-color:#eff7fa;}
.table th.wd5,.table td.wd5{width:5%;}
.table th.wd9,.table td.wd9{width:9%;}
.table th.wd10,.table td.wd10{width:10%;}
.table th.wd15,.table td.wd15{width:15%;}
.table th.wd16,.table td.wd16{width:16%;}
.table th.wd17,.table td.wd17{width:17%;}
.table th.wd19,.table td.wd19{width:19%;}
.table th.wd20,.table td.wd20{width:20%;}
.table th.wd21,.table td.wd21{width:21%;}
.table th.wd22,.table td.wd22{width:22%;}
.table th.wd23,.table td.wd23{width:23%;}
.table th.wd25,.table td.wd25{width:25%;}
.table th.wd30,.table td.wd30{width:30%;}
.table th.wd40,.table td.wd40{width:40%;}
.table th.wd50,.table td.wd50{width:50%;}
.table th.wd70,.table td.wd70{width:70%;}
.table>thead>tr>th{border-bottom-width:1px;vertical-align:middle;}
.table>tbody>tr>td{word-break:keep-all;}.table>tbody>tr>td.word-break{word-break:break-all;}
.table .open .dropdown-toggle,.table .dropdown-menu>li>a{color:#1265b3;}
.table .caret{border-top-color:#1265b3;}
.table .dropdown-menu{padding:0;}.table .dropdown-menu .divider{margin:0;}
.table .dropdown-menu>li>a{padding:6px 10px;}
.section-separator{border-width:5px 0 0;border-color:#f1f1f1;}
.transparentHR{border-color:#ffffff;margin:10px 0;}
.header-separator{border-top:1px solid #d6d7d9;border-bottom:1px solid #f7f8fa;margin:2px 0 20px 0;}
.row-separator{margin:2px 0 20px 0;}
.tips{background-color:#f7f7f7;font-size:10px;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;-moz-border-radius:50% 4px 4px 4px;-webkit-border-radius:50% 4px 4px 4px;border-radius:50% 4px 4px 4px;border:2px solid #dddddd;padding:0px 3px;cursor:help;}.tips:hover{text-decoration:none;}
.tooltip-inner{background-color:#fbfbfb;color:#696969;font-weight:normal;-webkit-box-shadow:0px 0px 3px 1px #cccccc;-moz-box-shadow:0px 0px 3px 1px #cccccc;box-shadow:0px 0px 3px 1px #cccccc;}
.tooltip.top .tooltip-arrow{border-top-color:#fbfbfb;}
.tooltip.right .tooltip-arrow{border-right-color:#999999;}
.pager{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;-moz-border-radius:4px 4px 4px 4px;-webkit-border-radius:4px 4px 4px 4px;border-radius:4px 4px 4px 4px;margin:0 0 20px 0;padding:5px;float:right;font-size:12px;line-height:15px;border:1px solid #e6e6e6;background-color:#f7f7f7;}.pager .pages-input{font-weight:700;color:#025ec7;cursor:pointer;}.pager .pages-input input{position:absolute;left:-999999px;}
.pager li{margin:0 5px;display:block;float:left;}.pager li a,.pager li span{border:none;outline-width:0;background:none;padding:0;display:inline-block;font:12px arial;cursor:default;text-decoration:none;}
.pager li a,.pager li .pages-input{cursor:pointer;}
.pager .pager-title{color:#949494 !important;}
.pager .pager-icon{background-image:url('../img/sprite-icons.png');background-repeat:no-repeat;margin:2px 0px 0px;width:6px;height:10px;}
.pager .previous{background-position:0px -324px;}.pager .previous.off{background-position:0 -336px;}
.pager .current{background-color:#dfdfdf;border-radius:50%;color:#444444;padding:0 4px;}
.pager .next{background-position:-8px -324px;}.pager .next.off{background-position:-8px -336px;}
.pager .previous,.pager .next{overflow:hidden;text-indent:-9999px;}
.tabs{overflow:hidden;position:absolute;top:-32px;left:-1px;}.tabs li{float:left;font-size:16px;margin-right:5px;}.tabs li a{background-color:#e6e6e6;color:#696969;text-decoration:none;}.tabs li a.selected{background-color:#ffffff;}
.tabs li span{border:1px solid #dddddd;border-bottom:1px solid #ffffff;color:#000000;text-decoration:none;}
.tabs li a,.tabs li span{font-weight:normal;}
.tabs a,.tabs span{background-color:#cccccc;border-radius:4px 4px 0 0;border-top:1px solid #cccccc;border-right:1px solid #cccccc;border-left:1px solid #cccccc;display:block;font-size:14px;line-height:19px;font-weight:700;padding:7px 15px 5px;text-align:center;text-decoration:none;color:#e6e6e6;margin:0;}
.tab{padding:0 0 10px;}.tab label{font-size:0.898em;}
.tab-wrapper{border:1px solid #e6e6e6;border-radius:0 4px 4px;margin-top:60px;margin-bottom:20px;position:relative;padding-left:15px;padding-right:15px;}
.easy-upload{border:1px solid #cccccc;border-radius:4px;position:relative;display:inline-block;}.easy-upload:hover{box-shadow:0 0 3px rgba(1, 93, 198, 0.6);transition:all 0.2s ease-in-out;}
.easy-upload *{-moz-box-sizing:border-box;box-sizing:border-box;}
.easy-upload input{width:100%;height:32px;position:relative;z-index:1;-ms-filter:DXImageTransform.Microsoft.Alpha(opacity=0);filter:alpha(opacity = 0);-moz-opacity:0;opacity:0;cursor:pointer;border:0;display:block;}
.easy-upload .before-file{width:80%;height:32px;line-height:26px;cursor:pointer;color:#999999;font-style:oblique;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;-moz-border-radius:4px 4px 4px 4px;-webkit-border-radius:4px 4px 4px 4px;border-radius:4px 4px 4px 4px;box-shadow:0 0 4px #ccc inset;left:0;padding:3px 10px;position:absolute;z-index:0;background:#ffffff;overflow:hidden;}
.easy-upload .after-file{width:22%;height:32px;line-height:26px;-webkit-box-shadow:inset 0 1px 2px 0 #ffffff;-moz-box-shadow:inset 0 1px 2px 0 #ffffff;box-shadow:inset 0 1px 2px 0 #ffffff;background-color:#ffffff;background-image:-moz-linear-gradient(top, #eef6f9 0%, #d6e2ee 100%);background-image:-webkit-linear-gradient(top, #eef6f9 0%, #d6e2ee 100%);background-image:-o-linear-gradient(top, #eef6f9 0%, #d6e2ee 100%);background-image:-ms-linear-gradient(top, #eef6f9 0%, #d6e2ee 100%);background-image:linear-gradient(to top, #eef6f9 0%, #d6e2ee 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6e2ee', endColorstr='#eef6f9', GradientType=0);background-color:#f9f9f9;border-radius:0 4px 4px 0;border-left:1px solid #cccccc;display:inline-block;color:#1265b3;text-align:center;right:0;padding:3px 0;z-index:0;top:0;position:absolute;cursor:pointer;}
.upload-list li{font-weight:300;border-bottom:1px dotted #7E9DB9;height:30px;line-height:30px;clear:both;overflow:hidden;}
.upload-list span{width:100%;}
.expander{border:1px solid #C9D6DF;border-radius:4px;clear:both;position:relative;}.expander.permission{border:0;margin-bottom:15px;}
.expander .expander-trigger{background:url('../img/bt-report-toggle.png') bottom right no-repeat;height:17px;padding-right:25px;position:absolute;right:15px;top:10px;text-indent:-999999px;}
.expander .expander-trigger-loader{background:url('../img/loader.gif') bottom right no-repeat;}
.expander .expander-title{background:#f6f6f6 url('../img/bg-report-form-legend.png') 0 0 repeat-x;display:block;margin:0;padding:5px 15px;position:relative;}
.expander .conteudo,.expander .expander-content{margin:0;padding:5px 10px 5px 15px;font-size:11px;background-color:#f9f9f9;}
.expander.expander-closed .expander-trigger{background-position:top right;}
.expander.expander-closed .expander-content,.expander.expander-closed .pager,.expander.expander-closed .conteudo{display:none;}
.lighter .expander{border-width:1px;border-color:#E6E6E6;}.lighter .expander h4{background:#F6F6F6;cursor:pointer;font-size:11px!important;font-weight:400;padding:10px 15px;text-transform:none;}
.lighter .expander .toggle{right:7px;top:7px;}
.lighter .expander.permission .toggle{right:31px;top:9px;cursor:pointer;}
table.sortable-bs span.sign,table.sortable-pc span.sign{display:block;position:absolute;top:50%;right:5px;font-size:12px;margin-top:-10px;color:#666;}
table.sortable-bs span.arrow,table.sortable-pc span.arrow,table.sortable-bs span.reversed,table.sortable-pc span.reversed{border-style:solid;border-width:5px;font-size:0;border-color:#666 transparent transparent transparent;line-height:0;height:0;width:0;margin-top:-2px;}
table.sortable-bs span.arrow.up,table.sortable-pc span.arrow.up{border-color:transparent transparent #666 transparent;margin-top:-7px;}
table.sortable-bs span.reversed,table.sortable-pc span.reversed{border-color:transparent transparent #666 transparent;margin-top:-7px;}table.sortable-bs span.reversed.up,table.sortable-pc span.reversed.up{border-color:#666 transparent transparent transparent;margin-top:-2px;}
table.sortable-bs thead th:not([data-defaultsort=disabled]),table.sortable-pc thead th:not([data-defaultsort=disabled]){cursor:pointer;position:relative;top:0;left:0;}
table.sortable-bs thead th:hover:not([data-defaultsort=disabled]),table.sortable-pc thead th:hover:not([data-defaultsort=disabled]){background:#eff7fa;}
table.sortable-bs thead th div.mozilla,table.sortable-pc thead th div.mozilla{position:relative;}
.barrow{width:10px;height:18px;font-size:0.6em;color:#666666;position:relative;float:right;text-align:center;margin-left:5px;}
.ui-datepicker-trigger{font-size:1.4em;font-family:'Glyphicons Halflings';color:#999999;margin:0 5px 0 0;padding:0;border:0;background:0;vertical-align:middle;}
.datepicker-input-wrapper{position:relative;}.datepicker-input-wrapper input[type=text]{text-align:center;padding-right:35px;}
.datepicker-input-wrapper .ui-datepicker-trigger{position:absolute;right:0;top:5px;}
.form-inline.search-form{margin-bottom:20px;}.form-inline.search-form label{display:block;}
.form-inline.search-form .form-group{width:75%;}.form-inline.search-form .form-group .form-control{width:100%;}
.form-inline input.datepicker{width:130px;}.form-inline input.datepicker.time{width:180px;}
.form-inline input.datepicker[readonly]{cursor:context-menu;}
label input,label select,label textarea{font-weight:normal;}
.modal-footer{text-align:center;}
.line-entypo{line-height:20px;}
.list-customer ul{list-style-type:none;padding:0;}
.group-inputs{border:1px solid #dddddd;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;-moz-border-radius:4px 4px 4px 4px;-webkit-border-radius:4px 4px 4px 4px;border-radius:4px 4px 4px 4px;-webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.08);-moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.08);box-shadow:1px 1px 1px rgba(0, 0, 0, 0.08);position:relative;}.group-inputs.list-customer{margin-bottom:20px;}.group-inputs.list-customer .checkbox-list{height:118px;}.group-inputs.list-customer .checkbox-list label{margin-right:10px;}
.group-inputs .aux-txt{color:#a1a8b0;border-top:1px solid #dddddd;padding:10px;font-weight:normal;background-color:#f5f6fa;}
.group-inputs textarea.form-control{height:120px;border-color:#ffffff;border-radius:0;resize:none;}
.form-group.has-error .group-inputs{border-color:#b94a48;}
.pc-checkbox-list-container .check-all-items{display:block;padding:10px 10px 10px 30px;font-weight:700;}
.pc-checkbox-list-container .pc-checkbox-list-widget-container{border:1px solid #dddddd;border-radius:4px;box-shadow:1px 1px 1px rgba(0, 0, 0, 0.08);width:100%;min-width:150px;}.pc-checkbox-list-container .pc-checkbox-list-widget-container.wrong{border-color:#ff0000;}
.pc-checkbox-list-container .pc-checkbox-list-widget-container .pc-checkbox-list{height:220px;overflow:auto;padding:0;}.pc-checkbox-list-container .pc-checkbox-list-widget-container .pc-checkbox-list>li{border-bottom:1px solid #eeeeee;}.pc-checkbox-list-container .pc-checkbox-list-widget-container .pc-checkbox-list>li label{padding:10px;text-align:left;display:block;font-weight:normal;}.pc-checkbox-list-container .pc-checkbox-list-widget-container .pc-checkbox-list>li label.selected{background-color:#f5f6fa;}
.pc-checkbox-list-container .pc-checkbox-list-widget-container .pc-checkbox-list>li label input[type=checkbox]{margin-left:0;margin-right:7px;}
.pc-checkbox-list-container .pc-checkbox-list-widget-container .aux-txt{color:#a1a8b0;border-top:1px solid #dddddd;padding:10px;font-weight:normal;background-color:#f5f6fa;}
.form-group.has-error .pc-checkbox-list-widget-container{border-color:#b94a48;}
.pc-from-to-widget-container{padding:0;}
.pc-from-to-controls-container{padding-top:90px;}
.pc-from-to-elements-container,.checkbox-list{height:220px;overflow:auto;}.pc-from-to-elements-container>li,.checkbox-list>li{color:#666666;padding:10px;border-bottom:1px solid #eeeeee;}.pc-from-to-elements-container>li input[type="checkbox"],.checkbox-list>li input[type="checkbox"],.pc-from-to-elements-container>li input[type="radio"],.checkbox-list>li input[type="radio"]{margin:0;vertical-align:middle;}
.pc-from-to-elements-container>li:hover,.checkbox-list>li:hover{border-bottom-style:dotted;border-bottom-color:#cccccc;}
.pc-from-to-elements-container>li.selected,.checkbox-list>li.selected{background-color:#f5f6fa;}
.pc-from-to-elements-container>li label,.checkbox-list>li label{font-weight:normal;margin-bottom:0;}.pc-from-to-elements-container>li label input[type=checkbox],.checkbox-list>li label input[type=checkbox],.pc-from-to-elements-container>li label input[type=radio],.checkbox-list>li label input[type=radio]{margin-right:5px;}
.pc-from-to-elements-container>li label,.checkbox-list>li label,.pc-from-to-elements-container>li:hover,.checkbox-list>li:hover{cursor:pointer;}
.groupChoiceList label{font-weight:300;}
.group-inputs textarea.errorForm{border-color:#b94a48;}
.checkbox-list .errorForm{margin-bottom:10px;}
.box-results li{border:1px solid #dddddd;padding:15px 15px 0;margin-bottom:15px;position:relative;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;-moz-border-radius:4px 4px 4px 4px;-webkit-border-radius:4px 4px 4px 4px;border-radius:4px 4px 4px 4px;}.box-results li dl{margin-bottom:10px;}.box-results li dl dd ul.bordered-items li{border:1px solid #aaa;-moz-border-radius:0px;-webkit-border-radius:0px;border-radius:0px;-moz-border-radius:0px 4px 4px 4px;-webkit-border-radius:0px 4px 4px 4px;border-radius:0px 4px 4px 4px;margin:5px 0;padding-top:10px;}
.box-results li .icon-tg{font-family:monospace;}
.box-results li hr:first-child{margin-top:0;}
.box-results li ul,.box-results li p{margin-bottom:15px;}
.box-results li li{padding:0;margin:0;border:0;box-shadow:none;}
.overflow-modal div.modal-body div.rd-grid{overflow-y:auto;max-height:142px;padding-bottom:0;}
.row{margin-left:-15px;margin-right:-15px;}
.block-sm{margin-left:-15px;margin-right:-15px;height:15px;}
.block-md{margin-left:-15px;margin-right:-15px;height:50px;}
.block-lg{margin-left:-15px;margin-right:-15px;height:100px;}
.block-xs{margin-left:-15px;margin-right:-15px;height:2 00px;}
a#navMap,a#navChart{font-size:4em;color:#7A7A7A;}
.chart-selected{color:#207b9e !important;}
@font-face{font-family:'EntypoRegular';src:url('fonts/entypo.eot');src:url('fonts/entypo.eot?#iefix') format('embedded-opentype'),url('fonts/entypo.woff') format('woff'),url('fonts/entypo.ttf') format('truetype'),url('fonts/entypo.svg#EntypoRegular') format('svg');}.entypo{font-size:2em;font-family:'EntypoRegular';font-weight:normal;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.entypo-phone:before{content:'\1F4DE';}
.entypo-mobile:before{content:'\1F4F1';}
.entypo-mouse:before{content:'\E789';}
.entypo-address:before{content:'\E723';}
.entypo-mail:before{content:'\2709';}
.entypo-paper-plane:before{content:'\1F53F';}
.entypo-pencil:before{content:'\270E';}
.entypo-feather:before{content:'\2712';}
.entypo-attach:before{content:'\1F4CE';}
.entypo-inbox:before{content:'\E777';}
.entypo-reply:before{content:'\E712';}
.entypo-reply-all:before{content:'\E713';}
.entypo-forward:before{content:'\27A6';}
.entypo-user:before{content:'\1F464';}
.entypo-users:before{content:'\1F465';}
.entypo-add-user:before{content:'\E700';}
.entypo-vcard:before{content:'\E722';}
.entypo-export:before{content:'\E715';}
.entypo-location:before{content:'\E724';}
.entypo-map:before{content:'\E727';}
.entypo-compass:before{content:'\E728';}
.entypo-direction:before{content:'\27A2';}
.entypo-hair-cross:before{content:'\1F3AF';}
.entypo-share:before{content:'\E73C';}
.entypo-shareable:before{content:'\E73E';}
.entypo-heart:before{content:'\2665';}
.entypo-heart-empty:before{content:'\2661';}
.entypo-star:before{content:'\2605';}
.entypo-star-empty:before{content:'\2606';}
.entypo-thumbs-up:before{content:'\1F44D';}
.entypo-thumbs-down:before{content:'\1F44E';}
.entypo-chat:before{content:'\E720';}
.entypo-comment:before{content:'\E718';}
.entypo-quote:before{content:'\275E';}
.entypo-home:before{content:'\2302';}
.entypo-popup:before{content:'\E74C';}
.entypo-search:before{content:'\1F50D';}
.entypo-flashlight:before{content:'\1F526';}
.entypo-print:before{content:'\E716';}
.entypo-bell:before{content:'\1F514';}
.entypo-link:before{content:'\1F517';}
.entypo-flag:before{content:'\2691';}
.entypo-cog:before{content:'\2699';}
.entypo-tools:before{content:'\2692';}
.entypo-trophy:before{content:'\1F3C6';}
.entypo-tag:before{content:'\E70C';}
.entypo-camera:before{content:'\1F4F7';}
.entypo-megaphone:before{content:'\1F4E3';}
.entypo-moon:before{content:'\263D';}
.entypo-palette:before{content:'\1F3A8';}
.entypo-leaf:before{content:'\1F342';}
.entypo-note:before{content:'\266A';}
.entypo-beamed-note:before{content:'\266B';}
.entypo-new:before{content:'\1F4A5';}
.entypo-graduation-cap:before{content:'\1F393';}
.entypo-book:before{content:'\1F4D5';}
.entypo-newspaper:before{content:'\1F4F0';}
.entypo-bag:before{content:'\1F45C';}
.entypo-airplane:before{content:'\2708';}
.entypo-lifebuoy:before{content:'\E788';}
.entypo-eye:before{content:'\E70A';}
.entypo-clock:before{content:'\1F554';}
.entypo-mic:before{content:'\1F3A4';}
.entypo-calendar:before{content:'\1F4C5';}
.entypo-flash:before{content:'\26A1';}
.entypo-thunder-cloud:before{content:'\26C8';}
.entypo-droplet:before{content:'\1F4A7';}
.entypo-cd:before{content:'\1F4BF';}
.entypo-briefcase:before{content:'\1F4BC';}
.entypo-air:before{content:'\1F4A8';}
.entypo-hourglass:before{content:'\23F3';}
.entypo-gauge:before{content:'\1F6C7';}
.entypo-language:before{content:'\1F394';}
.entypo-network:before{content:'\E776';}
.entypo-key:before{content:'\1F511';}
.entypo-battery:before{content:'\1F50B';}
.entypo-bucket:before{content:'\1F4FE';}
.entypo-magnet:before{content:'\E7A1';}
.entypo-drive:before{content:'\1F4FD';}
.entypo-cup:before{content:'\2615';}
.entypo-rocket:before{content:'\1F680';}
.entypo-brush:before{content:'\E79A';}
.entypo-suitcase:before{content:'\1F6C6';}
.entypo-traffic-cone:before{content:'\1F6C8';}
.entypo-globe:before{content:'\1F30E';}
.entypo-keyboard:before{content:'\2328';}
.entypo-browser:before{content:'\E74E';}
.entypo-publish:before{content:'\E74D';}
.entypo-progress-3:before{content:'\E76B';}
.entypo-progress-2:before{content:'\E76A';}
.entypo-progress-1:before{content:'\E769';}
.entypo-progress-0:before{content:'\E768';}
.entypo-light-down:before{content:'\1F505';}
.entypo-light-up:before{content:'\1F506';}
.entypo-adjust:before{content:'\25D1';}
.entypo-code:before{content:'\E714';}
.entypo-monitor:before{content:'\1F4BB';}
.entypo-infinity:before{content:'\221E';}
.entypo-light-bulb:before{content:'\1F4A1';}
.entypo-credit-card:before{content:'\1F4B3';}
.entypo-database:before{content:'\1F4F8';}
.entypo-voicemail:before{content:'\2707';}
.entypo-clipboard:before{content:'\1F4CB';}
.entypo-cart:before{content:'\E73D';}
.entypo-box:before{content:'\1F4E6';}
.entypo-ticket:before{content:'\1F3AB';}
.entypo-rss:before{content:'\E73A';}
.entypo-signal:before{content:'\1F4F6';}
.entypo-thermometer:before{content:'\1F4FF';}
.entypo-water:before{content:'\1F4A6';}
.entypo-sweden:before{content:'\F601';}
.entypo-line-graph:before{content:'\1F4C8';}
.entypo-pie-chart:before{content:'\25F4';}
.entypo-bar-graph:before{content:'\1F4CA';}
.entypo-area-graph:before{content:'\1F53E';}
.entypo-lock:before{content:'\1F512';}
.entypo-lock-open:before{content:'\1F513';}
.entypo-logout:before{content:'\E741';}
.entypo-login:before{content:'\E740';}
.entypo-check:before{content:'\2713';}
.entypo-cross:before{content:'\274C';}
.entypo-squared-minus:before{content:'\229F';}
.entypo-squared-plus:before{content:'\229E';}
.entypo-squared-cross:before{content:'\274E';}
.entypo-circled-minus:before{content:'\2296';}
.entypo-circled-plus:before{content:'\2295';}
.entypo-circled-cross:before{content:'\2716';}
.entypo-minus:before{content:'\2796';}
.entypo-plus:before{content:'\2795';}
.entypo-erase:before{content:'\232B';}
.entypo-block:before{content:'\1F6AB';}
.entypo-info:before{content:'\2139';}
.entypo-circled-info:before{content:'\E705';}
.entypo-help:before{content:'\2753';}
.entypo-circled-help:before{content:'\E704';}
.entypo-warning:before{content:'\26A0';}
.entypo-cycle:before{content:'\1F504';}
.entypo-cw:before{content:'\27F3';}
.entypo-ccw:before{content:'\27F2';}
.entypo-shuffle:before{content:'\1F500';}
.entypo-back:before{content:'\1F519';}
.entypo-level-down:before{content:'\21B3';}
.entypo-retweet:before{content:'\E717';}
.entypo-loop:before{content:'\1F501';}
.entypo-back-in-time:before{content:'\E771';}
.entypo-level-up:before{content:'\21B0';}
.entypo-switch:before{content:'\21C6';}
.entypo-numbered-list:before{content:'\E005';}
.entypo-add-to-list:before{content:'\E003';}
.entypo-layout:before{content:'\268F';}
.entypo-list:before{content:'\2630';}
.entypo-text-doc:before{content:'\1F4C4';}
.entypo-text-doc-inverted:before{content:'\E731';}
.entypo-doc:before{content:'\E730';}
.entypo-docs:before{content:'\E736';}
.entypo-landscape-doc:before{content:'\E737';}
.entypo-picture:before{content:'\1F304';}
.entypo-video:before{content:'\1F3AC';}
.entypo-music:before{content:'\1F3B5';}
.entypo-folder:before{content:'\1F4C1';}
.entypo-archive:before{content:'\E800';}
.entypo-trash:before{content:'\E729';}
.entypo-upload:before{content:'\1F4E4';}
.entypo-download:before{content:'\1F4E5';}
.entypo-save:before{content:'\1F4BE';}
.entypo-install:before{content:'\E778';}
.entypo-cloud:before{content:'\2601';}
.entypo-upload-cloud:before{content:'\E711';}
.entypo-bookmark:before{content:'\1F516';}
.entypo-bookmarks:before{content:'\1F4D1';}
.entypo-open-book:before{content:'\1F4D6';}
.entypo-play:before{content:'\25B6';}
.entypo-paus:before{content:'\2016';}
.entypo-record:before{content:'\25CF';}
.entypo-stop:before{content:'\25A0';}
.entypo-ff:before{content:'\23E9';}
.entypo-fb:before{content:'\23EA';}
.entypo-to-start:before{content:'\23EE';}
.entypo-to-end:before{content:'\23ED';}
.entypo-resize-full:before{content:'\E744';}
.entypo-resize-small:before{content:'\E746';}
.entypo-volume:before{content:'\23F7';}
.entypo-sound:before{content:'\1F50A';}
.entypo-mute:before{content:'\1F507';}
.entypo-flow-cascade:before{content:'\1F568';}
.entypo-flow-branch:before{content:'\1F569';}
.entypo-flow-tree:before{content:'\1F56A';}
.entypo-flow-line:before{content:'\1F56B';}
.entypo-flow-parallel:before{content:'\1F56C';}
.entypo-left-bold:before{content:'\E4AD';}
.entypo-down-bold:before{content:'\E4B0';}
.entypo-up-bold:before{content:'\E4AF';}
.entypo-right-bold:before{content:'\E4AE';}
.entypo-left:before{content:'\2B05';}
.entypo-down:before{content:'\2B07';}
.entypo-up:before{content:'\2B06';}
.entypo-right:before{content:'\27A1';}
.entypo-circled-left:before{content:'\E759';}
.entypo-circled-down:before{content:'\E758';}
.entypo-circled-up:before{content:'\E75B';}
.entypo-circled-right:before{content:'\E75A';}
.entypo-triangle-left:before{content:'\25C2';}
.entypo-triangle-down:before{content:'\25BE';}
.entypo-triangle-up:before{content:'\25B4';}
.entypo-triangle-right:before{content:'\25B8';}
.entypo-chevron-left:before{content:'\E75D';}
.entypo-chevron-down:before{content:'\E75C';}
.entypo-chevron-up:before{content:'\E75F';}
.entypo-chevron-right:before{content:'\E75E';}
.entypo-chevron-small-left:before{content:'\E761';}
.entypo-chevron-small-down:before{content:'\E760';}
.entypo-chevron-small-up:before{content:'\E763';}
.entypo-chevron-small-right:before{content:'\E762';}
.entypo-chevron-thin-left:before{content:'\E765';}
.entypo-chevron-thin-down:before{content:'\E764';}
.entypo-chevron-thin-up:before{content:'\E767';}
.entypo-chevron-thin-right:before{content:'\E766';}
.entypo-left-thin:before{content:'\2190';}
.entypo-down-thin:before{content:'\2193';}
.entypo-up-thin:before{content:'\2191';}
.entypo-right-thin:before{content:'\2192';}
.entypo-arrow-combo:before{content:'\E74F';}
.entypo-three-dots:before{content:'\23F6';}
.entypo-two-dots:before{content:'\23F5';}
.entypo-dot:before{content:'\23F4';}
.entypo-cc:before{content:'\1F545';}
.entypo-cc-by:before{content:'\1F546';}
.entypo-cc-nc:before{content:'\1F547';}
.entypo-cc-nc-eu:before{content:'\1F548';}
.entypo-cc-nc-jp:before{content:'\1F549';}
.entypo-cc-sa:before{content:'\1F54A';}
.entypo-cc-nd:before{content:'\1F54B';}
.entypo-cc-pd:before{content:'\1F54C';}
.entypo-cc-zero:before{content:'\1F54D';}
.entypo-cc-share:before{content:'\1F54E';}
.entypo-cc-remix:before{content:'\1F54F';}
.entypo-db-logo:before{content:'\1F5F9';}
.entypo-db-shape:before{content:'\1F5FA';}